@using Microsoft.AspNetCore.Identity

@* Tiêm các service cần thiết để kiểm tra trạng thái đăng nhập và lấy thông tin user *@
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        @* Nếu người dùng đã đăng nhập, hiển thị menu quản lý tài khoản và nút Logout *@
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Hello @User.Identity?.Name!
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">My Account</a></li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <form class="d-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "Customer" })">
                        <button type="submit" class="dropdown-item">Logout</button>
                    </form>
                </li>
            </ul>
        </li>
    }
    else
    {
        @* Nếu người dùng chưa đăng nhập, hiển thị nút Register và Login *@
        <li class="nav-item">
            <a class="btn btn-outline-primary me-2" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>